.integration_ready {
    padding: 60px 0;
}

.integration_ready .logo_wrap {
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.integration_ready .logo_wrap img {
    /* Fix for blurry SVGs in Safari */
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateZ(0); /* Force GPU acceleration */
    backface-visibility: hidden; /* Prevent flickering */
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    image-rendering: -webkit-optimize-contrast; /* Improve image rendering in Safari */
}
