@font-face {
  font-family: "Iowan Old Style";
  src: url("../../fonts/IowanOldStyle-Bold.eot");
  src: url("../../fonts/IowanOldStyle-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/IowanOldStyle-Bold.woff2") format("woff2"),
    url("../../fonts/IowanOldStyle-Bold.woff") format("woff"),
    url("../../fonts/IowanOldStyle-Bold.ttf") format("truetype"),
    url("../../fonts/IowanOldStyle-Bold.svg#IowanOldStyle-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iowan Old Style";
  src: url("../../fonts/IowanOldStyle-Black.eot");
  src: url("../../fonts/IowanOldStyle-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/IowanOldStyle-Black.woff2") format("woff2"),
    url("../../fonts/IowanOldStyle-Black.woff") format("woff"),
    url("../../fonts/IowanOldStyle-Black.ttf") format("truetype"),
    url("../../fonts/IowanOldStyle-Black.svg#IowanOldStyle-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iowan Old Style";
  src: url("../../fonts/IowanOldStyle-BlackItalic.eot");
  src: url("../../fonts/IowanOldStyle-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/IowanOldStyle-BlackItalic.woff2") format("woff2"),
    url("../../fonts/IowanOldStyle-BlackItalic.woff") format("woff"),
    url("../../fonts/IowanOldStyle-BlackItalic.ttf") format("truetype"),
    url("../../fonts/IowanOldStyle-BlackItalic.svg#IowanOldStyle-BlackItalic")
      format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Iowan Old Style";
  src: url("../../fonts/IowanOldStyle-BoldItalic.eot");
  src: url("../../fonts/IowanOldStyle-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/IowanOldStyle-BoldItalic.woff2") format("woff2"),
    url("../../fonts/IowanOldStyle-BoldItalic.woff") format("woff"),
    url("../../fonts/IowanOldStyle-BoldItalic.ttf") format("truetype"),
    url("../../fonts/IowanOldStyle-BoldItalic.svg#IowanOldStyle-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Iowan Old Style";
  src: url("../../fonts/IowanOldStyle-Italic.eot");
  src: url("../../fonts/IowanOldStyle-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/IowanOldStyle-Italic.woff2") format("woff2"),
    url("../../fonts/IowanOldStyle-Italic.woff") format("woff"),
    url("../../fonts/IowanOldStyle-Italic.ttf") format("truetype"),
    url("../../fonts/IowanOldStyle-Italic.svg#IowanOldStyle-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Iowan Old Style";
  src: url("../../fonts/IowanOldStyle-Titling.eot");
  src: url("../../fonts/IowanOldStyle-Titling.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/IowanOldStyle-Titling.woff2") format("woff2"),
    url("../../fonts/IowanOldStyle-Titling.woff") format("woff"),
    url("../../fonts/IowanOldStyle-Titling.ttf") format("truetype"),
    url("../../fonts/IowanOldStyle-Titling.svg#IowanOldStyle-Titling")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iowan Old Style";
  src: url("../../fonts/IowanOldStyle-Roman.eot");
  src: url("../../fonts/IowanOldStyle-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/IowanOldStyle-Roman.woff2") format("woff2"),
    url("../../fonts/IowanOldStyle-Roman.woff") format("woff"),
    url("../../fonts/IowanOldStyle-Roman.ttf") format("truetype"),
    url("../../fonts/IowanOldStyle-Roman.svg#IowanOldStyle-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal Book";
  src: url("../../fonts/PPNeueMontreal-Book.eot");
  src: url("../../fonts/PPNeueMontreal-Book.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-Book.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-Book.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-Book.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-Book.svg#PPNeueMontreal-Book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-Bold.eot");
  src: url("../../fonts/PPNeueMontreal-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-Bold.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-Bold.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-Bold.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-Bold.svg#PPNeueMontreal-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-BoldItalic.eot");
  src: url("../../fonts/PPNeueMontreal-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-BoldItalic.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-BoldItalic.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-BoldItalic.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-BoldItalic.svg#PPNeueMontreal-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal Book";
  src: url("../../fonts/PPNeueMontreal-BookItalic.eot");
  src: url("../../fonts/PPNeueMontreal-BookItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-BookItalic.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-BookItalic.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-BookItalic.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-BookItalic.svg#PPNeueMontreal-BookItalic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-Italic.eot");
  src: url("../../fonts/PPNeueMontreal-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-Italic.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-Italic.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-Italic.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-Italic.svg#PPNeueMontreal-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-Light.eot");
  src: url("../../fonts/PPNeueMontreal-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-Light.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-Light.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-Light.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-Light.svg#PPNeueMontreal-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-Medium.eot");
  src: url("../../fonts/PPNeueMontreal-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-Medium.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-Medium.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-Medium.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-Medium.svg#PPNeueMontreal-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-SemiBold.eot");
  src: url("../../fonts/PPNeueMontreal-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-SemiBold.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-SemiBold.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-SemiBold.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-SemiBold.svg#PPNeueMontreal-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-LightItalic.eot");
  src: url("../../fonts/PPNeueMontreal-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-LightItalic.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-LightItalic.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-LightItalic.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-LightItalic.svg#PPNeueMontreal-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-SemiBolditalic.eot");
  src: url("../../fonts/PPNeueMontreal-SemiBolditalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-SemiBolditalic.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-SemiBolditalic.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-SemiBolditalic.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-SemiBolditalic.svg#PPNeueMontreal-SemiBolditalic")
      format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-MediumItalic.eot");
  src: url("../../fonts/PPNeueMontreal-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-MediumItalic.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-MediumItalic.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-MediumItalic.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-MediumItalic.svg#PPNeueMontreal-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-Regular.eot");
  src: url("../../fonts/PPNeueMontreal-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-Regular.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-Regular.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-Regular.svg#PPNeueMontreal-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-ThinItalic.eot");
  src: url("../../fonts/PPNeueMontreal-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-ThinItalic.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-ThinItalic.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-ThinItalic.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-ThinItalic.svg#PPNeueMontreal-ThinItalic")
      format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("../../fonts/PPNeueMontreal-Thin.eot");
  src: url("../../fonts/PPNeueMontreal-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/PPNeueMontreal-Thin.woff2") format("woff2"),
    url("../../fonts/PPNeueMontreal-Thin.woff") format("woff"),
    url("../../fonts/PPNeueMontreal-Thin.ttf") format("truetype"),
    url("../../fonts/PPNeueMontreal-Thin.svg#PPNeueMontreal-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
