.get-more-from-business {
  position: relative;
  margin-top: 96px;
  margin-bottom: 96px;

  @media (max-width: 767.98px) {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .content-area {
    .title-area {
      margin-bottom: 64px;
      text-align: center;

      @media (max-width: 767.98px) {
        margin-bottom: 32px;
      }
    }
    .column-boxes {
      display: flex;
      flex-wrap: wrap;
      column-gap: 56px;
      row-gap: 16px;
      margin-bottom: 64px;

      @media (max-width: 767.98px) {
        margin-bottom: 32px;
      }

      .column-box {
        flex: 0 0 calc((100% - 112px) / 3);
        max-width: calc((100% - 112px) / 3);
        text-align: center;
        position: relative;

        @media (max-width: 767.98px) {
          flex: 0 0 100%;
          max-width: 100%;
        }

        .icon-area {
          width: 90px;
          height: 90px;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 24px;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 767.98px) {
            width: 56px;
            height: 56px;
            margin-bottom: 8px;
          }

          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
          }
        }
        h4 {
          line-height: 121.739%;
          margin-bottom: 24px;
          width: 250px;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;

          @media (max-width: 767.98px) {
            margin-bottom: 8px;
            width: 290px;
          }
        }
        p {
          color: #003a51;
          text-align: center;
          font-family: "PP Neue Montreal";
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 122.222%;
          width: 310px;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;

          @media (max-width: 767.98px) {
            line-height: 145%;
            width: 100%;
          }
        }
      }
    }
    .button-area {
      text-align: center;
    }
  }
}
