.home-banner {
  position: relative;
  background: #d9e7ec;

  .background-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: top right;

      @media (max-width: 1199.98px) {
        object-position: top center;
      }
    }
  }
  .content-area {
    padding-top: 210px;
    padding-bottom: 306px;

    @media (max-width: 991.98px) {
      padding-top: 90px;
      padding-bottom: 150px;
    }
    @media (max-width: 767.98px) {
      padding-top: 105.5px;
      padding-bottom: 129.5px;
    }

    h5 {
      color: #003a51;
      font-family: "Iowan Old Style";
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      margin-bottom: 24px;

      @media (max-width: 991.98px) {
        font-size: 26px;
        line-height: 30px;
      }
      @media (max-width: 767.98px) {
        font-size: 18px;
        line-height: 115%;
        margin-bottom: 16px;
      }
    }
    h1 {
      color: #003a51;
      font-family: "PP Neue Montreal";
      font-size: 75px;
      font-style: normal;
      font-weight: 700;
      line-height: 77px;
      margin-bottom: 24px;
      width: 800px;
      max-width: 100%;

      @media (max-width: 767.98px) {
        font-size: 48px;
        line-height: 100%;
        margin-bottom: 16px;
        padding-right: 10px;
      }
    }
    p {
      color: #003a51;
      font-family: "PP Neue Montreal";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      width: 400px;
      max-width: 100%;

      @media (max-width: 767.98px) {
        font-size: 18px;
        line-height: 145%;
      }
    }
    .btn {
      margin-top: 48px;

      @media (max-width: 767.98px) {
        margin-top: 24px;
      }
    }
  }
}
