.integration {
  margin-top: 96px;
  margin-bottom: 96px;

  @media (max-width: 767.98px) {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .content-area {
    h2 {
      margin-bottom: 96px;

      @media (max-width: 767.98px) {
        margin-bottom: 32px;
      }
    }
  }
}
