.investors {
  position: relative;
  margin-top: 96px;
  margin-bottom: 96px;

  @media (max-width: 767.98px) {
    margin-top: 0;
    margin-bottom: 80px;
  }

  .content-area {
    .title-area {
      text-align: center;
      margin-bottom: 56px;

      @media (max-width: 767.98px) {
        margin-bottom: 32px;
      }

      h2 {
        color: #003a51;
        text-align: center;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 173.913%;
        letter-spacing: -1.38px;

        @media (max-width: 767.98px) {
          font-size: 24px;
          line-height: 115%;
          letter-spacing: 0;
        }
      }
    }
    .logo-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 56px;
      row-gap: 24px;

      @media (max-width: 991.98px) {
        width: 720px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      @media (max-width: 767.98px) {
        column-gap: 24px;
      }

      img {
        height: 40px;
        object-fit: contain;
        object-position: center;
        opacity: 0.75;

        @media (max-width: 767.98px) {
          height: 32px;
        }
      }
    }
  }
}
