/***************
  Typography 
 ***************/

h1,
h2,
h3,
h4,
h5,
h6,
body,
a,
span,
p,
ul,
li,
* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

html {
  overflow-x: hidden;
  overflow-y: scroll !important;
  scroll-behavior: auto !important;
  height: 100lvh;
}

// /* ------------------------- Hide Scrollbar -------------------------------------------------- */

// body::-webkit-scrollbar {
//   display: none;
// } /* Chrome, Safari, Opera */
// body {
//   -ms-overflow-style: none;
// } /* IE & Edge */
// html {
//   scrollbar-width: none;
// } /* Firefox */

body {
  position: relative;
  font-family: "PP Neue Montreal";
  color: #003a51;
  font-weight: normal;
  overflow: hidden;
  left: 0;
  right: 0;
  padding-top: 140px;

  @media (max-width: 767.98px) {
    padding-top: 90px;
  }

  &.no-overflow {
    overflow: unset;
  }

  &.scroll-lock,
  &.lock-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  &.lockscroll {
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  .invisible {
    opacity: 0;
    transition: all 0s;
  }

  &.modal-open {
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    transform: none;
  }

  .modal-backdrop.fade {
    transition: all 0.35s;
  }

  .modal-backdrop.show {
    opacity: 1;
    background: #000;
  }

  .fancybox-slide--html {
    padding: 0;
  }
  .fancybox-bg {
    opacity: 1 !important;
    background: rgba(226, 228, 230, 0.9);
  }
  .fancybox-navigation,
  .fancybox-infobar {
    display: none;
  }
  .fancybox-content {
    border-radius: 0;
    background-color: #fff;
    padding: 0;
    width: 1024px;
    max-width: 100%;

    @media (max-width: 767.98px) {
      min-height: 100vh;
    }
  }
  .fancybox-close-small {
    padding: 0;
    width: 48px;
    height: 47px;
    background-image: url(../../images/svg/close-modal.svg);
    background-size: 15.5px;
    background-position: center;
    background-repeat: no-repeat;
    top: 0 !important;
    right: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #e2e4e6;
    border-left: 1px solid #e2e4e6;

    svg {
      display: none;
    }
  }

  section {
    z-index: 2;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .content-area {
    position: relative;
    width: 1276px;
    max-width: 100%;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
  }

  a,
  button,
  input,
  select,
  textarea {
    transition: all 0.35s;

    &:focus,
    &:hover {
      box-shadow: none !important;
      outline: none !important;
      text-decoration: none;
      transition: all 0.35s;
    }
  }

  sup {
    top: -1.7em;
    font-size: 30%;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  p {
    color: #003a51;
    font-family: "PP Neue Montreal";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.333%;

    @media (max-width: 767.98px) {
      font-size: 18px;
    }

    &.smaller {
      font-size: 16px;
    }
  }

  .eyebrow {
    color: #003a51;
    font-family: "Iowan Old Style";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 34.5px */

    @media (max-width: 767.98px) {
      font-size: 18px;
    }
  }

  h1,
  .h1 {
    color: #003a51;
    font-family: "PP Neue Montreal";
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    @media (max-width: 767.98px) {
      font-size: 48px;
    }
  }

  .h1 {
    @media (max-width: 767.98px) {
      font-size: 28px;
      line-height: 115%;
    }
  }

  h2 {
    color: #003a51;
    font-family: "PP Neue Montreal";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;

    @media (max-width: 767.98px) {
      font-size: 28px;
    }
  }

  h3 {
    color: #003a51;
    font-family: "PP Neue Montreal";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;

    @media (max-width: 767.98px) {
      font-size: 24px;
    }
  }

  h4 {
    color: #003a51;
    font-family: "PP Neue Montreal";
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;

    @media (max-width: 767.98px) {
      font-size: 22px;
    }
  }

  h5 {
    color: #003a51;
    font-family: "PP Neue Montreal";
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;

    @media (max-width: 767.98px) {
      font-size: 20px;
    }
  }

  h6 {
    color: #003a51;
    font-family: "PP Neue Montreal";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;

    @media (max-width: 767.98px) {
      font-size: 16px;
    }
  }

  strong {
    font-weight: 700;
  }

  .medium {
    font-weight: 500;
  }

  .no-margin-top {
    margin-top: 0 !important;
  }

  .image-full {
    img {
      @media (max-width: 767.98px) {
        width: 100%;
        height: 392px;
        object-fit: cover;
        object-position: center top;
      }
    }
  }

  .dark-bg {
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .btn {
    border: none;
    color: #fff;
    text-align: center;
    font-family: "PP Neue Montreal";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    border-radius: 30px;
    background: #008c61;
    padding: 10px 30px;
    min-width: 175px;

    @media (min-width: 768px) {
      &:hover {
        background: #008c61;
      }
    }

    @media (max-width: 991.98px) {
      min-width: 125px;
      padding: 7px 16px;
      font-size: 14px;
      font-weight: 700;
    }

    &:hover {
      color: #fff;
    }

    &.btn-primary {
      background: #008c61;

      @media (min-width: 768px) {
        &:hover {
          background: #008c61;
        }
      }
    }
    &.btn-secondary {
      background: #003a51;

      @media (min-width: 768px) {
        &:hover {
          background: #008c61;
        }
      }
    }
    &.btn-orange {
      background: #f3755f;

      @media (min-width: 768px) {
        &:hover {
          background: #008c61;
        }
      }
    }
  }

  blockquote {
    position: relative;
    padding-left: 80px;
    margin-top: 24px;
    margin-bottom: 40px;

    @media (max-width: 767.98px) {
      margin-top: 8px;
      margin-bottom: 24px;
      padding-left: 24px;
    }

    &::before {
      content: "";
      width: 55px;
      height: 55px;
      background: url(../../images/quote-icon.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: -30px;
      left: 10px;

      @media (max-width: 767.98px) {
        left: -5px;
        top: -10px;
        width: 25px;
        height: 25px;
      }
    }
    p {
      color: #43505c;
      font-family: "Iowan Old Style";
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
      margin-bottom: 0;

      @media (max-width: 767.98px) {
        font-size: 20px;
      }
    }
  }

  /* The container must be positioned relative: */
  .custom-select {
    max-width: 100%;
    position: relative;
    text-align: left;
    // max-width: max-content;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

    select {
      display: none; /*hide original SELECT element: */
    }
  }

  .select-selected {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    z-index: 2;
    background-color: #fff;
    box-shadow: none;
    background-image: url(../../images/svg/filter-arrow-down.svg);
    // background-size: 12px 12px;
    background-size: unset;
    background-repeat: no-repeat;
    background-position: top 15px right 16px;
    border: none;
    color: #234ca0;
    font-family: "Helvetica Now Var";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 20.3px */
    letter-spacing: -0.21px;
    padding: 10px 40px 6px 16px;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #72a1d5;
    transition: all 0.35s;

    @media (min-width: 992px) {
      &:hover {
        transition: all 0.35s;
      }
    }

    &.select-arrow-active {
      background-image: url(../../images/svg/filter-arrow-up.svg);
      z-index: 6;
      box-shadow: none;
    }
  }
  /* style the items (options), including the selected item: */
  .select-items div {
    text-align: left;
    border: none;
    cursor: pointer;
    padding: 9.5px 0;
    margin-left: 12px;
    margin-right: 12px;
    color: #000;
    font-family: "Helvetica Now Var";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    @media (min-width: 992px) {
      &:hover {
        color: #000;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  /* Style items (options): */
  .select-items {
    position: absolute;
    background: #fff;
    box-shadow: none;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }

  // .select-items div:hover,
  // .same-as-selected {
  //   background-color: rgba(0, 0, 0, 0.9);
  // }
}
