.what-we-do {
  position: relative;
  margin-top: -183px;
  padding-bottom: 96px;

  @media (max-width: 991.98px) {
    margin-top: -90px;
    padding-bottom: 40px;
  }
  @media (max-width: 767.98px) {
    margin-top: -32px;
    padding-bottom: 0;
    margin-bottom: 80px;
  }

  .content-area {
    display: flex;
    flex-wrap: wrap;
    column-gap: 56px;
    row-gap: 31px;

    @media (max-width: 991.98px) {
      column-gap: 25px;
    }

    .image-area {
      position: relative;
      flex: 0 0 479px;
      max-width: 479px;

      @media (max-width: 991.98px) {
        flex: 0 0 250px;
        max-width: 250px;
      }
      @media (max-width: 767.98px) {
        flex: 0 0 100%;
        max-width: 100%;
        height: 360px;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center top;
      }
    }
    .text-area {
      flex: 0 0 calc(100% - 535px);
      max-width: calc(100% - 535px);
      padding-top: 279px;

      @media (max-width: 991.98px) {
        flex: 0 0 calc(100% - 275px);
        max-width: calc(100% - 275px);
        padding-top: 150px;
      }
      @media (max-width: 767.98px) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 0;
      }

      h3 {
        color: #545f62;
        font-family: "Iowan Old Style";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 24px;

        @media (max-width: 767.98px) {
          font-size: 18px;
          line-height: 115%;
          margin-bottom: 16px;
        }
      }
      h2 {
        color: #003a51;
        font-family: "PP Neue Montreal";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 24px;
        width: 545px;
        max-width: 100%;

        @media (max-width: 767.98px) {
          font-size: 28px;
          line-height: 115%;
          margin-bottom: 8px;
        }
      }
      p {
        margin-bottom: 0;
        width: 574px;
        max-width: 100%;
      }
    }
  }
}
